@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0px;
    font-family: 'Poppins', "sans-serif";
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}





/* Navigation bar */

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    align-items: center;
    width: 100%;
    height: 9vh;
}

.brand {
    display: flex;
    justify-content: center;
}

.brand>p {
    align-self: center;
    margin-left: 5px;
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(101, 101, 101);
}

.brand .logo {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.12);

}

.brand .logo .inner-circle {
    height: 26px;
    width: 26px;
    border-radius: 15px;
    background-color: #0070F2;
    align-self: center;
    
}


/* Date and time */

.date-time {
    display: flex;
    justify-self: center;
    background-color: #FFDCE8;
    border-radius: 15px;
    padding: 0px 5px;

}
.date-time .emoji {
    font-size: 1.5rem;
}
.date-time>p {
    align-self: center;
    margin: 5px;
    font-size: 600;
}


/* Search */
.search-task {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-task>input {
    padding: 5px;
    padding-left: 15px;
    height: 33px;
    width: 60%;
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 88, 210, 0.545);
    border-style: none;
}

.search-task>input::-webkit-input-placeholder {
    color: white;
}


.search-task>p {
    font-size: 1.5rem;
    margin: 5px;
    cursor: pointer;
}


/* Options or right side of nav */
.options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
}

.profile-img {
    height: 50px;
    width: 50px;
    border-radius: 15px;
    background-image: url('/img/profile3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    margin-left: 10px;


}

.notifications, .inbox {
    margin: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(255, 243, 184);
    /* box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.109); */
    transition: 0.2s all ease-in-out;
}

.inbox {
    background-color: #FFD5EA;
}


.notifications:hover, .inbox:hover {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.109);

}
















/* Main */

.main-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 100%;
    height: 91vh;

}

.tasks-dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eaecee7b;
    /* background-color: white; */
}

.dash1{
    height: 300px;
    width: 85%;
    background-color: black;
    border-radius: 35px;
    margin: 20px;
    margin-left: 30px;
    background-color: white;


    /* Glassmorphism */
    /* background: rgba( 255, 255, 255, 0.1); */
    /* backdrop-filter: blur( 15.5px );
    -webkit-backdrop-filter: blur( 15.5px );
    border-radius: 35px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */

}

.group-dash {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;
    margin-top: 15px;

}

.dash2, .dash3 {
    height: 200px;
    width: 85%;
    background-color: white;

    border-radius: 35px;

}

.tasks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #eaecee7b;
}

#pending-tasks, .completed-tasks {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 80%;
    background-color: black;
    border-radius: 35px;
    max-height: 80vh;
}

#pending-tasks {
    background-color: rgb(255, 243, 184);
    border: 1.5px solid rgba(231, 100, 0, 0.188);
}

.top-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
#pending-tasks .top-part>p, .completed-tasks .top-part>p {
    font-size: 1.2rem;
    margin: 10px;
    color: #A93E00;
    font-weight: 500;
}

.completed-tasks .top-part>p {
    color: #0057D2;
}


/* For emoji */
#pending-tasks .top-part>p>span, .completed-tasks .top-part>p>span {
    font-size: 1.6rem;
    margin-left: 10px;
}

#total-tasks-pending, #total-tasks-completed {
    font-size: 1rem;
    padding: 5px 10px;
    background-color: white;
    border-radius: 15px;
    margin-right: 22px;
    border: 1.5px solid rgba(231, 100, 0, 0.188);
}

#total-tasks-completed {
    border: 1.5px solid rgba(0, 88, 210, 0.186);

}
.completed-tasks {
    background-color: #D1EFFF;    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border: 1.5px solid rgba(0, 88, 210, 0.186);
}

#pending-tasks .display-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: 0.4s all ease-in-out;
}

.display-tasks::-webkit-scrollbar {
    margin: 2px;
    background-color: rgb(255, 243, 184);
}

.display-tasks::-webkit-scrollbar-thumb {
    background-color:#A93E00;
    border-radius: 8px;

}


#dummy-task {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
    padding: 10px;
    width: 80%;
    background-color: white;
    border-radius: 25px;
    border: 1.5px solid rgba(231, 100, 0, 0.188);
    transition: 0.2s all ease-in-out;
    margin-top: 15px;
}


#dummy-task:hover {
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.058);
}
#description>p {
    padding: 7px;
    color: #A93E00;
    font-weight: 500;
    margin: 8px 0;
}
#description>p>span {
    font-size: 1.5rem;
}

#actions {
    display: flex;
    flex-direction: column;
}

#actions #due-date {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 7px 10px;
    background-color: #FFD5EA;
    color: #AA0808;
    border-radius: 15px;
    align-self: center;
    font-weight: 600;
    border: 1.5px solid #aa08082f;

}

#due-date>span {
    font-size: 1.4rem;
}

#category-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    margin: 10px;
}

#category-button-container #complete-button {
    padding: 5px 10px;
    border-radius: 15px;
    color: #256F3A;
    background-color: #EBF5CB;
    border: 1.5px solid #256f3a2f;
    font-weight: 600;
    font-size: 1.007rem;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
}

#category-button-container #complete-button:hover {
    color: #EBF5CB;
    background-color: #256F3A;
}

#complete-button>span {
    font-size: 1.4rem;
}

#category-button-container #category {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: black;
    color: white;
    font-size: 1.007rem;
}

#add-task-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    padding: 10px;
    width: 80%;
    background-color: white;
    border-radius: 25px;
    border: 1.5px solid rgba(231, 100, 0, 0.188);
    transition: 0.2s all ease-in-out;
    margin-top: 10px;
}
#add-task-form:hover {
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.058);
}



#add-task-button {
    margin-top: 10px;
}

#date-dropdown {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    margin: 10px;
}

#add-task-form>textarea, #date-dropdown>input {
    padding: 5px;
    padding-left: 15px;
    margin-top: 10px;
    height: 33px;
    width: 90%;
    border-radius: 15px;
    border: 1.5px solid rgba(231, 100, 0, 0.188);
    color: #AA0808;

}

#add-task-form>input::-webkit-input-placeholder {
    color: #AA0808;
}

.form-header {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.form-header .form-heading {
    font-weight: 600;
    color:#A93E00;
    font-size: 1.1rem;
    
}

.form-heading>span {
    font-size: 1.5rem;
}

.form-header #cancel-button {
    background-color: #FFD5EA;
    border-radius: 12px;
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-top: 10px;
    background-color: black;
    color: white;
    padding: 10px 10px;
    border-radius: 15px;
    align-self: center;
    text-align: center;
}

.dropdown-content {
    display: none;
    
    position: absolute;
    margin-top: 5px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
    color: black;
    border-radius: 15px;
    transition: 0.3s all ease-in-out;
}

.dropdown:hover .dropdown-content {
    display: block;
    animation: fadeIn .4s ease-in-out;
}

#work-cat, #school-cat, #personal-cat, #other-cat {
    cursor: pointer;
    border-radius: 10px;
    transition: 0.2s all ease-in-out;
}

#work-cat:hover, #school-cat:hover, 
#personal-cat:hover, #other-cat:hover {
    background-color: rgb(255, 243, 184);
}

#add-task-button {
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #E2D8FF;
    color: #470ced;
    border: 1.5px solid #256f3a2f;
    font-weight: 600;
    font-size: 1.007rem;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    width: 90%;
}

#add-task-button:hover {
    /* box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.12); */
    color: #E2D8FF;
    background-color: #470ced;
}

#add-task-button>span {
    font-size: 1.4rem;
}




::-webkit-scrollbar {
    width: 12px;
    height: 14px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
}

/* animation */
.fade-in {
    animation: fadeIn .4s ease-in-out;
}

@keyframes fadeIn {
    0% { 
        opacity: 0;
        transform: scale(0.5);
    }
    70% { 
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);

    }
}

.fade-out {
    animation: fadeOut .4s ease-in-out;
}

@keyframes fadeOut {
    0% { 
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0);
    }
}


.scroll {
    animation: tranformAnimation .4s ease-in-out;
}

@keyframes tranformAnimation {
    0% { 
    }
    100% {
        transform: translateY(20px);

    }
}