@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0px;
    font-family: 'Poppins', "sans-serif";
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}





/* Navigation bar */

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    align-items: center;
    width: 100%;
    height: 9vh;
}

.brand {
    display: flex;
    justify-content: center;
}

.brand>p {
    align-self: center;
    margin-left: 5px;
    font-size: 1.7rem;
    font-weight: 600;
    color: rgb(101, 101, 101);
}

.brand .logo {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);

}

.brand .logo .inner-circle {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: #0070F2;
    align-self: center;
    
}


/* Date and time */

.date-time {
    display: flex;
    justify-self: center;
    background-color: #FFDCE8;
    border-radius: 15px;
    padding: 0px 5px;

}
.date-time .emoji {
    font-size: 1.5rem;
}
.date-time>p {
    align-self: center;
    margin: 5px;
    font-size: 600;
}


/* Search */
.search-task {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-task>input {
    padding: 5px;
    padding-left: 15px;
    height: 33px;
    width: 60%;
    border-radius: 10px;
    color: white;
    background-color: rgba(0, 88, 210, 0.545);
    border-style: none;
}

.search-task>input::-webkit-input-placeholder {
    color: white;
}


.search-task>p {
    font-size: 1.5rem;
    margin: 5px;
    cursor: pointer;
}


/* Options or right side of nav */
.options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 40px;
}

.profile-img {
    height: 50px;
    width: 50px;
    border-radius: 15px;
    background-image: url('/img/profile3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    margin-left: 10px;


}

.notifications, .inbox {
    margin: 5px;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 1.6rem;
    cursor: pointer;
    border-radius: 15px;
    background-color: rgb(255, 243, 184);
    /* box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.109); */
    transition: 0.2s all ease-in-out;
}

.inbox {
    background-color: #FFD5EA;
}


.notifications:hover, .inbox:hover {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.109);

}














/* Main */

.main-content {
    width: 100%;
    height: 91vh;
    background-color: #eaecee7b;
}